body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div{
    width: 48%;
}

.Deric .Alysson{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.Alysson{
    background-color: #07017A;
    border: 3px solid blue;
}

.Deric {
    background-color: black;
    color: white;
    border: 2px solid aqua;
}

.titulo{
    width: 100%;
    height: 20px;
    margin-bottom: 50px;
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    margin-top: 20px;;
}

td{
    border: 3px solid skyblue;
    margin: 0 auto;
}

header{
    width: 100%;
}

.comandos{
    margin: 0 auto;
    border: 2px solid black;
    max-width: 500px;
    width: 100%;
    padding-bottom: 20px;;
}

.contenedor
{
    display: flex;
    width: 100%;
    align-content:center ;
}

.informacion
{
    width: 50%;
    font-family: "Arial";
}

.contenedor-imagen{
    text-align: center;
    display: flex;
    width: 45%;
}

.imagen{
    width: 80%;
}

tr{
    border: 3px solid blueviolet;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
}
.Alysson
{
   background-color: darkgray;
    color: white;
    border: 4px solid #051281;
    }
.parrafo
{
font-family: Bradley Hand;
text-align: justify;
background: darkgrey;
color: #07017A;
text-decoration: blink;
}
.parrafo2
{
   font-family: Bradley Hand;
text-align: justify;
background: darkblue;
color: darkgrey;
text-decoration: blink;
}
.parrafo3
{
font-family: fantasy;
font-size: 45px;
text-align: center;
background: darkgoldenrod;
color: darkred;
text-decoration: underline wavy black; 

}

img
{
  border: 1px solid #ddd;
  border-radius: 69px;
  padding: 10px;
  width: 200px;
  

}


.verMas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.articulos{
    width: 50px;
    padding: 10px;
}
