body{
    color: blueviolet;
    text-align: center;
    font-family: "Arial";  
}

td{
    border: 3px solid skyblue;
    margin: 0 auto;
}

header{
    width: 100%;
}

table{
    border: 2px solid black;
    max-width: 500px;
    width: 100%;
}

tr{
    border: 3px solid blueviolet;
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

p{
    color: brown;
    text-align: justify;
}


.parrafo
{
font-family: fantasy;
text-align: justify;
color: #48C9B0;
text-decoration: blink;
}

